<h2>Flatiron School Cohorts</h2>
<%= link_to "Back to Dashboard", dashboard_path %>
<ul>
<% @cohorts.each do |cohort| %>
	<li><%= link_to cohort.name, cohort %>    
  <%= link_to "Edit", edit_cohort_path(cohort)%> 
<% end %>
</ul>
