<h1>Cohorts</h1>
<%= link_to "Back to Dashboard", dashboard_path %>
<% @cohorts.each do |cohort| %>
	<ul class="list-group">
		<div>
			<li>
				<a href="/cohorts/<%= cohort.id %>"><%= cohort.name %></a> | 
				<a href="<%= edit_cohort_path(cohort) %>"> Edit </a>
			</li>
		</div>	
	</ul>
<% end %>
