<h1>//IRONBOARD</h1>
<%= link_to "POST in IRONBOARD", new_post_path %>

<ul class="list-group">
<% @posts.each do |post| %>
	<li class="list-group-item list-inline">
		<div>
			<h4><%= link_to post.name, post %></h4>
			<p class="text-right"><%= post.created_at %></p>
		</div>
		<div>
			<h6>by <%= post.user.name %></h6>
		</div>
	</li>
<% end %>
</ul>


<br>