<h2><%= @user.name %></h2>

City
> <%= @user.city.name %><br>

Cohort
> <%= @user.cohort == nil ? "Cohort not set. Please edit your profile to set your cohort." : @user.cohort.name %><br>

Companies
<ul>
<% @user.companies.each do |company| %>
	<li><%= company.name %></li>
<% end %>
</ul>